* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'PixelMPlus10', sans-serif;
    font-size: 38px;
    margin: 0;
    min-height: 100vh;
    background-color: #000;
    color: white;
}
 h1 {
    text-align: center;
 }
 
.loadingBar {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    height: 50px;
    width: 700px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 5px;
    width: 0;
    opacity: 0;
	transition: 1.8s ease;
}

#complete {
    display: none;
    animation: blink 1s infinite
  }
  
  @keyframes blink {
    from {
      opacity: 0
    }
  
    to {
      opacity: 1
    }
  }

.loaded {
    opacity: 0;
    visibility: hidden;
}  
  
@media screen and (max-width: 575px) {
    h1 {
        font-size: 35px;
    }

    .loadingBar {
        width: 300px;
        height: 35px;
    }
}
